/* Home Decorations!!! */

.Home {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(6, 255, 234), pink, rgb(0, 183, 255));
    /* Keep for dark background */
    /* background-image: linear-gradient(to bottom right, black, grey); */
  }
  
  .HomeSheep {
    display: flex;
    width: 100%;
    height:fit-content;
    margin-bottom: 2rem;
  }
  
  /* Video Player */
  .HomePlayer {
    display: inline-block;
    width: 50%;
    margin-left: 5rem;
    height: 31rem;
    margin-top: 5rem;
    /* Box-Shadow Key: color x-axis y-axis blur size */
    box-shadow: rgb(0, 0, 0) 0 0 1rem 2px;
  }
  
  /* About Me !!! */
  .aboutMe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1000;
    height: 31rem;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 5rem;
    /* Box-Shadow Key: color x-axis y-axis blur size */
    box-shadow: rgb(0, 0, 0) 0 0 1rem 2px;
    border-radius: 1rem;
  }
  
  .aboutMe::before {
    content: '';
    z-index: 0;
    display:block;
    position: absolute;
    opacity: .4;
    width: 100%;
    height: 100%;
    background-image: url(../Images/App&Home/flowers_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  
  .aboutMe p {
    position: relative;
    text-align: center;
    font-size: 3rem;
    overflow-wrap: break-word;
  }

  .aboutMe li {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    margin-left: .6rem;
  }
  
  .aboutMe ol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bold {
    font-weight: bold;
  }  
  
  .aboutHeader {
    position: relative;
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  /* Responsive Designs */
  /* Phone Vertical Position */
  @media (max-width: 400px), (max-height: 916px) {
    .HomeSheep {
      display: flex;
      flex-direction: column;
      /* margin-bottom: 3rem;      */
      margin-bottom: 7rem;     
    }

    .HomePlayer {
      margin-top: 3rem;
      margin-left: 1.6rem;
      height: 30vh;
      width: 40vh;
    }

    .aboutMe {
      height: 30vh;
      width: 40vh;
      margin-left: 1.7rem;
    }

    .aboutMe ol {
      width: 100%;
      height: 100%;
    }

    .aboutMe li {
      font-size: 5.7vw;
      margin-bottom: .6rem;
    }

    .aboutHeader {
      font-size: 2rem;
      margin: .2rem;
    }
  }
  