/* SillyForm Decorations for Home Component */
.SillyFormHolder {
    display: flex;
    /* max-height: 62%; */
    max-width: 66%;
    height: min-content;
    width: auto;
    /* height: 62%;
    width: 66%; */
  }
  
  .SillyForm {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    margin-left: 5rem;
    /* Box-Shadow Key: color x-axis y-axis blur size */
    box-shadow: rgb(255, 136, 235) 0 0 1rem 5px;
    height: fit-content;
    /* width:fit-content; */
    /* width: 100%; */
    background-color: rgb(44, 46, 48);
    border-radius: 1rem;
  }

  .SillyForm h3 {
    color: white;
    margin-bottom: .5rem;
    font-size: 1.8rem;
  }
  
  .SillyForm button {
    width: min-content;
    padding: 6px;
    border-radius: 1rem;
  }

  .formButtonContainer button {
    margin-right: 1rem;
  }
  
  .SillyForm label {
    margin-bottom: 1rem;
    color: white;
    width: min-content;
  }

  .endingRadio {
    width: 13rem !important;
  }

  .endingRadio div {
    margin-top: .5rem;
  }
  
  .testInput::after {
    content: attr(data-error);
    color: red;
  }
  
  .SillyParagraph {
    display:inline;
    position: relative;
    left: 50%;
  }
  
  .SillyParagraph p {
    /* display: inline; */
    font-size: 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /* Responsive Design */
  /* Phone Vertical Position */
  @media (max-width: 400px), (max-height: 916) {
    .SillyFormHolder {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 56%;
      max-width: 47%;
    }

    .SillyForm {
      position: relative;
      left: 20%;
      margin-left: 7rem;
      padding: 1rem 1.8rem;
    }

    .SillyParagraph {
      position: relative;
      left: 10%;
      margin-top: 2rem;
    }

    .SillyParagraph div {
      width: 20rem;
    }

    .SillyParagraph p {
      font-size: 10vw;
    }
  }
