
.gamingHome {
  background: linear-gradient(to bottom right, black, grey);
}

#edgeSpacing {
  padding: 0 2rem;
}

.topHalf {
  display: flex;
  padding-top: .3rem;
  height: 30%;
}

.topImage {
  width: 20%;
}

.topLineSpace {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 179), rgb(0, 183, 255));
  border-radius: 3rem;
  width: 3%;
}

.gameCoding {
  color: white;
}

.gameCoding h1 {
  text-align: center;
  font-size: 4rem;
}

.gameCoding p {
  font-size: 2rem;
}

.secondP {
  margin-top: 4rem;
}

.middleLineSpace {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 179), rgb(0, 183, 255));
  margin: 4rem 2rem;
  border-radius: 3rem;
  height: 3%;
}

.bottomHalf {
  height: auto
}

.formContainer {
  background-color: aqua;
}

.formContainer form {
  background-color: brown;
  margin: 0 2rem;
}

img {
  height: 100%;
  width: 100%;
}

  /* Responsive Design */

  @media (max-width: 400px) {

  }