
.gamingHome {
  background: linear-gradient(to bottom right, black, grey);
  height: max-content;
  /* height: 200rem; */
}

#edgeSpacing {
  padding: 0 2rem;
}

.topHalf {
  display: flex;
  padding-top: .3rem;
  height: 30%;
}

.topImage {
  width: 20%;
}

.topLineSpace {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 179), rgb(0, 183, 255));
  border-radius: 3rem;
  width: 3%;
  height:auto
}

.gameCoding {
  color: white;
}

.gameCoding h1 {
  text-align: center;
  font-size: 4rem;
}

.gameCoding p {
  font-size: 2rem;
}

.secondP {
  margin-top: 4rem;
}

.middleLineSpace {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 179), rgb(0, 183, 255));
  margin: 4rem 2rem;
  border-radius: 3rem;
  height: 2rem;
  /* width: 40rem; */
}

.bottomHalf {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.loading {
  font-size: 5rem;
  color: white;
}

.formContainer {
  background-color: rgb(0, 158, 158);
  margin-left: 2rem;
  height: 20rem;
  font-size: 2.6rem;
  width: 70%;
  height: fit-content;
  border: outset 5px black
}

.formContainer form {
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  height: 100%;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.formContainer input{
  margin-left: 2rem;
  height: 1.5rem;
}

.formContainer label, .formContainer button {
  margin-left: 2rem;
}

.formContainer button {
  font-size: 1.5rem;
  width: fit-content;
  height: auto;
}

.formContainer h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

img {
  height: 100%;
  width: 100%;
}

.reviewTab {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgb(255, 0, 179), rgb(0, 183, 255));
  font-size: 1.5rem;
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  height: fit-content;
  border: inset  black 5px 
}

.reviewTab h1 {
  text-align: center;
  font-size: 2rem;
}

.rightAlign {
  text-align: right;
  margin-right: 2rem
}

.bottomLineSpace {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 179), rgb(0, 183, 255));
  border-radius: 3rem;
  width: 5%;
  margin: 0 5rem;
}

  /* Responsive Design */

  @media (max-width: 400px) {

  }